@import 'core/settings';

body {
  margin: 0;
	background: $color-white;
	height: 100vh;
}

.search__title {
  margin-left: 10px;

}
.search__container{
  margin-left: 10px;
}

.search-field{

}

.btn {

}
.shows__list{
  background-color: cyan;
}

// url('../images/logo-adalab-80px.png') center center no-repeat
