@import 'core/settings';

body {
  margin: 0;
	background: $color-white;
	height: 100vh;
}

.search__title {
  margin-left: 10px;

}
.search__container{
  margin-left: 10px;
}

.search-field{

}

.btn {

}
.shows__list{
  padding-left: 0;
  list-style: none;
  // display: grid;
}

.show-item{
  background-color: pink;
}

.show-image{

}

.show-title{
  color: rgb(184, 27, 53);
}

.favorite-show {
  .show-item {
    background-color: aqua;
  }
  .show-title {
    color: black;
  }
}
